<a href="https://colab.research.google.com/github/ValeriaLS/Challenge1_AluraStore/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [46]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

##1.1. Calcular el ingreso total de cada tienda.

In [47]:
suma_total_precio1 = tienda["Precio"].sum()
suma_total_precio2 = tienda2["Precio"].sum()
suma_total_precio3 = tienda3["Precio"].sum()
suma_total_precio4 = tienda4["Precio"].sum()

In [48]:
print(f'El ingreso total de la tienda 1 es: ${suma_total_precio1}')
print(f'El ingreso total de la tienda 2 es: ${suma_total_precio2}')
print(f'El ingreso total de la tienda 3 es: ${suma_total_precio3}')
print(f'El ingreso total de la tienda 4 es: ${suma_total_precio4}')

El ingreso total de la tienda 1 es: $1150880400.0
El ingreso total de la tienda 2 es: $1116343500.0
El ingreso total de la tienda 3 es: $1098019600.0
El ingreso total de la tienda 4 es: $1038375700.0

# 2. Ventas por categoría

##2.1 Calcular la cantidad de productos vendidos por categoría en cada tienda.

In [49]:
vpc_tienda1 = tienda['Categoría del Producto'].value_counts()
vpc_tienda2 = tienda2['Categoría del Producto'].value_counts()
vpc_tienda3 = tienda3['Categoría del Producto'].value_counts()
vpc_tienda4 = tienda4['Categoría del Producto'].value_counts()

In [50]:
print(vpc_tienda1)

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [51]:
ventas_por_categoria = tienda.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
ventas_por_categoria2 = tienda2.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
ventas_por_categoria3 = tienda3.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
ventas_por_categoria4 = tienda4.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)

In [52]:
print(ventas_por_categoria)

                              Precio
Categoría del Producto
Electrónicos             429493500.0
Electrodomésticos        363685200.0
Muebles                  187633700.0
Instrumentos musicales    91299000.0
Deportes y diversión      39290000.0
Juguetes                  17995700.0
Artículos para el hogar   12698400.0
Libros                     8784900.0

# 3. Calificación promedio de la tienda

##3.1 Calcular las calificaciones promedio de los clientes para cada tienda.

In [53]:
def clasificacion_promedio(tienda, numero):
    promedio = tienda['Calificación'].mean()
    print(f"Clasificación promedio en Tienda {numero}: {promedio:.2f}")

# Mostrar resultados para cada tienda
clasificacion_promedio(tienda, 1)
clasificacion_promedio(tienda2, 2)
clasificacion_promedio(tienda3, 3)
clasificacion_promedio(tienda4, 4)

Clasificación promedio en Tienda 1: 3.98
Clasificación promedio en Tienda 2: 4.04
Clasificación promedio en Tienda 3: 4.05
Clasificación promedio en Tienda 4: 4.00

# 4. Productos más y menos vendidos

##4.1 Identificar qué productos fueron los más vendidos y los menos vendidos en cada tienda.

In [54]:
urls = [
"https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv",
"https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv",
"https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv",
"https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

]
# pd.read_csv lee directamente la URL. .assign agrega la columna 'Tienda'
df_total = pd.concat(
    [pd.read_csv(url).assign(Tienda=f"Tienda {i+1}") for i, url in enumerate(urls)],
    ignore_index=True
)

# 2. Preparación de Datos
# Convertir a datetime la columna de fecha (buena práctica para el futuro)
df_total['Fecha de Compra'] = pd.to_datetime(df_total['Fecha de Compra'])

# Renombramos y tipamos si es necesario (asumiendo que la lectura ya lo hizo correctamente)
# Si 'Precio' y 'Cantidad de cuotas' son cargados correctamente desde el CSV,
# estas líneas son a menudo redundantes, pero las mantenemos por seguridad.
df_total['Precio'] = df_total['Precio'].astype(float)

# 3. Cálculo de Ingresos y Ventas Agrupadas
# Si tienes una columna 'Cantidad' en tus CSVs, DEBERÍAS usar df_total['Cantidad'] * df_total['Precio'].
# Aquí, asumimos que 'Precio' ya representa el total de la transacción unitaria.
ventas = df_total.groupby(['Tienda', 'Producto'])['Precio'].sum().reset_index(name='Ingresos_Totales')

# 4. Función de Análisis (Más concisa y usando los métodos de pandas)
def analizar_tienda(tienda_df, tienda_nombre):
    """Muestra el TOP 3 de productos que más y menos ingresos generaron para una tienda."""

    # Ordenar por ingresos totales
    ordenado = tienda_df.sort_values(by='Ingresos_Totales', ascending=False)

    # TOP MÁS VENDIDOS (Método .to_string() para formato de salida limpio)
    print(f"\n{tienda_nombre} - TOP 3 productos que MÁS dinero generaron:")
    print(ordenado.head(3).to_string(
        index=False, columns=['Producto', 'Ingresos_Totales'],
        formatters={'Ingresos_Totales': '${:,.2f}'.format}
    ))

    print(f"\n{tienda_nombre} - TOP 3 productos que MENOS dinero generaron:")
    # TOP MENOS VENDIDOS (Ordenamos de forma ascendente y tomamos los primeros 3)
    print(ordenado.tail(3).to_string(
        index=False, columns=['Producto', 'Ingresos_Totales'],
        formatters={'Ingresos_Totales': '${:,.2f}'.format}
    ))

# 5. Iterar y Analizar
for tienda_nombre in ventas['Tienda'].unique():
    # Filtramos UNA SOLA VEZ antes de llamar a la función
    data_tienda = ventas[ventas['Tienda'] == tienda_nombre]
    analizar_tienda(data_tienda, tienda_nombre)

Tienda 1 - TOP 3 productos que MÁS dinero generaron:
     Producto Ingresos_Totales
TV LED UHD 4K  $142,150,200.00
 Refrigerador  $112,143,300.00
    Iphone 15   $97,902,200.00

Tienda 1 - TOP 3 productos que MENOS dinero generaron:
          Producto Ingresos_Totales
   Cubo mágico 8x8      $696,900.00
    Dinosaurio Rex      $688,900.00
Cuerda para saltar      $652,800.00

Tienda 2 - TOP 3 productos que MÁS dinero generaron:
     Producto Ingresos_Totales
    Iphone 15  $113,225,800.00
TV LED UHD 4K  $103,375,000.00
 Refrigerador   $97,632,500.00

Tienda 2 - TOP 3 productos que MENOS dinero generaron:
          Producto Ingresos_Totales
Cuerda para saltar      $856,900.00
    Dinosaurio Rex      $770,300.00
   Cubo mágico 8x8      $643,600.00

Tienda 3 - TOP 3 productos que MÁS dinero generaron:
     Producto Ingresos_Totales
 Refrigerador   $99,889,700.00
TV LED UHD 4K   $96,669,100.00
    Iphone 15   $93,225,700.00

Tienda 3 - TOP 3 productos que MENOS dinero generaron:
          Producto Ingresos_Totales
Cuerda para saltar      $853,800.00
    Dinosaurio Rex      $795,600.00
   Cubo mágico 8x8      $640,400.00

Tienda 4 - TOP 3 productos que MÁS dinero generaron:
     Producto Ingresos_Totales
    Iphone 15   $96,697,500.00
TV LED UHD 4K   $90,295,300.00
     Smart TV   $82,790,400.00

Tienda 4 - TOP 3 productos que MENOS dinero generaron:
          Producto Ingresos_Totales
    Dinosaurio Rex      $858,100.00
   Cubo mágico 8x8      $748,400.00
Cuerda para saltar      $704,800.00

/tmp/ipython-input-3029151194.py:16: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_total['Fecha de Compra'] = pd.to_datetime(df_total['Fecha de Compra'])

# 5. Envío promedio por tienda

In [55]:
# Asegurar que el costo de envío es numérico
df_total['Costo de envío'] = df_total['Costo de envío'].astype(float)

# Agrupar por tienda y calcular el promedio del costo de envío
envio_promedio = df_total.groupby('Tienda')['Costo de envío'].mean()

# Mostrar resultados
print("\nEnvío promedio por tienda:")
for tienda, promedio in envio_promedio.items():
    print(f"{tienda}: ${promedio:.2f}")

Envío promedio por tienda:
Tienda 1: $26018.61
Tienda 2: $25216.24
Tienda 3: $24805.68
Tienda 4: $23459.46

#6. Visualizacion

In [56]:
urls = [
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv",
    "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"
]

df_total = pd.concat(
    [pd.read_csv(url).assign(Tienda_ID=f"Tienda {i+1}") for i, url in enumerate(urls)],
    ignore_index=True
)

df_total['Fecha de Compra'] = pd.to_datetime(df_total['Fecha de Compra'], dayfirst=True)

df_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9435 entries, 0 to 9434
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                9435 non-null   object
 1   Categoría del Producto  9435 non-null   object
 2   Precio                  9435 non-null   float64
 3   Costo de envío          9435 non-null   float64
 4   Fecha de Compra         9435 non-null   datetime64[ns]
 5   Vendedor                9435 non-null   object
 6   Lugar de Compra         9435 non-null   object
 7   Calificación            9435 non-null   int64
 8   Método de pago          9435 non-null   object
 9   Cantidad de cuotas      9435 non-null   int64
 10  lat                     9435 non-null   float64
 11  lon                     9435 non-null   float64
 12  Tienda_ID               9435 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 958.4+ KB

#7. Graficos

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns